@font-face {
  font-family: 'DejaVu Sans Mono';
  src:
    url('./fonts/DejaVuSansMono.woff2') format('woff2'),
    url('./fonts/DejaVuSansMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-dejavu {
  font-family: 'DejaVu Sans Mono', monospace;
}
